<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!--<link href="Content/bootstrap.min.css" rel="stylesheet" />-->
    <!--<link href="Content/bootstrap-theme.min.css" rel="stylesheet" />-->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }

        li {
            margin-top: 10px;
        }

            li:first-child {
                margin-top: 0;
            }
    </style>
</head>
<body data-ng-app="app" data-ng-cloak="" class="ng-cloak">
    <div data-ng-controller="youTubeController">


        <!--<form data-ng-controller="homeController" action="{{action_url}}" method="get">-->
        <form data-ng-submit="submit()">
            <ul style="list-style: none;">
                <li>
                    <label>Search </</label>
                    <select data-ng-model="youtubeType">
                        <option value="user" selected="selected">User</option>
                        <option value="playlist">Play-list</option>
                    </select>
                </li>
                <li>
                    <label>Query</label>
                    <input type="text" data-ng-model="youtubeQuery" />
                </li>
                <li>
                    <label>Limit</label>
                    <input type="number" data-ng-model="youtubeLimit" />
                </li>
                <li>
                </li>
                <li>
                    <input type="submit" />
                </li>
            </ul>
        </form>

        <div>
            Results : {{thinking == true ? 'Working...' : results.length}}
        </div>

        <table border="1" style="width:100%;">
            <thead>
                <tr>
                    <th>Video</th>
                    <th>Description</th>
                    <th>Published</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="result in results">
                    <td>
                        <a href="{{result.Url}}" target="_blank" title="{{result.Title}}">
                            <img alt="{{result.Url}}" data-ng-src="{{result.ThumbnailImageUrl}}" />
                        </a>
                    </td>
                    <td>{{result.Description}}</td>
                    <td>{{result.PublishDate}}</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</body>
<script type="text/javascript" src="Scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-3.1.0.slim.min.js"></script>
<script type="text/javascript" src="Scripts/angular.min.js"></script>
<script type="text/javascript" src="Scripts/app.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</html>
